html {
  box-sizing: border-box;
  background-color: #444
  font-family: Open Sans
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin: 1.5rem
  padding: .5rem 1rem 1.6rem 5rem
  width: 24rem 16rem 5rem */
}
